<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Editer un fournisseur</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link th:href="@{/css/theme.css}" href="/css/theme.css" rel="stylesheet" type="text/css">
<!-- 	    <link href="https://drive.google.com/uc?export=view&id=1kOqRFdJOD8bcIDwbwXTgBqAdg_MeE4-J" rel="stylesheet" type="text/css">
 -->	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="form-modal">
			<div>
				<div>
					<h1 th:text="${'Edition des données du fournisseur n°' + fournisseur.numero}">Editer fournisseur</h1>
				</div>
				<div>
					<form action="fournisseurs" th:object="${fournisseur}" th:action="@{/save-fournisseur}" method="POST">
					<!-- 
						TODO: Récupérer les données récupérées en paramètres
							  Ajouter un bouton (input) qui va envoyer la requête POST 
							  Et sauvegarder les données
					 -->
						<input readonly type="hidden" th:value="${fournisseur.id}" name="id" />
						<div class="form-group">
							<div>
								<div>
									<label>Numéro</label>
								</div>
								<div>
									<input class="form-control" type="text" th:value="${fournisseur.numero}" name="numero" />				
								</div>
							</div>
							<div>
								<div>
									<label>Nom</label>
								</div>
								<div>
									<input class="form-control" type="text" th:value="${fournisseur.nom}" name="nom"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div>
								<div>
									<label>Adresse</label>
								</div>
								<div>
									<input type="text" class="form-control" th:value="${fournisseur.adresse}" name="adresse"></textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div>
								<div>
									<label>Email</label>
								</div>
								<div>
									<input class="form-control" type="email" th:value="${fournisseur.email}" name="email" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<input class="form-control" type="submit" value="Save" />
						</div>	
					</form>
				</div>
			</div>
		</div>
	</body>
</html>