<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Editer un fournisseur</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Editer fournisseur</h1>
		<form action="fournisseurs" th:object="${fournisseur}" th:action="@{/save-fournisseur}" method="POST">
		<!-- 
			TODO: Récupérer les données récupérées en paramètres
				  Ajouter un bouton (input) qui va envoyer la requête POST 
				  Et sauvegarder les données
		 -->
			<input readonly type="text" th:value="${fournisseur.id}" name="id" />
			<label>Numero :</label>
			<input type="text" th:value="${fournisseur.numero}" name="numero" />
			<label>Nom :</label>
			<input type="text" th:value="${fournisseur.nom}" name="nom"/>
			<label>Adresse :</label>
			<input type="text" th:value="${fournisseur.adresse}" name="adresse" />
			<label>Email :</label>
			<input type="email" th:value="${fournisseur.email}" name="email" />
			<input type="submit" value="Save" />
		</form>
	</body>
</html>