<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Restaurants Index</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class='container'>
		<div class='row mt-5'>
			<div class='col'>
				<a class="btn btn-secondary" href="/spring-jpa/restaurant">Restaurants</a>
				<a class="btn btn-secondary" href="/spring-jpa/reservation">Réservations</a>
				<a class="btn btn-secondary" href="/spring-jpa/typeRestaurant">Types restaurant</a>
			</div>
		</div>
		<div class='row mt-5'>
			<div class='col'>
				<h1>Liste des restaurants</h1>
			</div>
		</div>
		<div class='row'>
			<div class='col'>
				<table class="table table-striped table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">Nom</th>
				      <th scope="col">Prix</th>
				      <th scope="col">Adresse</th>
				      <th scope="col">Type restaurant</th>
				      <th scope="col">Réserver</th>
				      
				   	</tr>
				  </thead>
				  <tbody th:if="${!isRestaurantListEmpty}">
				    <tr th:each="restaurant : ${listRestaurant}">
				      <td><a th:href="@{/restaurant/{id}(id=${restaurant.id})}" th:text="${restaurant.nom}"></a></td>
				      <td><a th:href="@{/restaurant/{id}(id=${restaurant.id})}" th:text="${restaurant.prix}"></a></td>
				      <td><a th:href="@{/restaurant/{id}(id=${restaurant.id})}" th:text="${restaurant.adresse}"></a></td>
				      <td><a th:href="@{/restaurant/{id}(id=${restaurant.id})}" th:text="${restaurant.type.nom}"></a></td>
				      <td><a class='btn btn-primary' th:href="@{/reservation/new/{id}(id=${restaurant.id})}">Réserver</a></td>
				    </tr>
				  </tbody>
				  <tbody th:if="${isRestaurantListEmpty}">
				    <tr>
				      <td colspan="5"><div class="alert alert-danger" role="alert">Il n'y a pas de restaurants pour le moment, veuillez en ajouter depuis votre interface !</div></td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
