<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index des réservations</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 	crossorigin="anonymous">
</head>
<body>
	<div class='container'>
		<div class='row mt-5'>
			<div class='col'>
				<h1>Liste des Réservations</h1>
			</div>
		</div>
		<div class='row'>
			<div class='col'>
				<table class="table table-striped table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Nom</th>
				      <th scope="col">Prénom</th>
				      <th scope="col">Téléphone</th>
				      <th scope="col">Date réservation</th>
				      <th scope="col">Restaurant</th>
				    </tr>
				  </thead>
				  <tbody th:if="${!isReservationListEmpty}">
				    <tr th:each="reservation : ${listReservation}">
				      <td><a th:href="@{/reservation/{id}(id=${reservation.id})}" th:text="${reservation.id}"></a></td>
				      <td><a th:href="@{/reservation/{id}(id=${reservation.id})}" th:text="${reservation.nom}"></a></td>
				      <td><a th:href="@{/reservation/{id}(id=${reservation.id})}" th:text="${reservation.prenom}"></a></td>
				      <td><a th:href="@{/reservation/{id}(id=${reservation.id})}" th:text="${reservation.telephone}"></a></td>
				      <td><a th:href="@{/reservation/{id}(id=${reservation.id})}" th:text="${reservation.dateHeureDebut}"></a></td>
				      <td><a th:href="@{/reservation/{id}(id=${reservation.id})}" th:text="${reservation.restaurant.nom}"></a></td>
				    </tr>
				  </tbody>
				  <tbody th:if="${isUtilisateursListEmpty}">
				    <tr>
				      <td colspan="7"><div class="alert alert-danger" role="alert">Il n'y a pas de réservations pour le moment, veuillez en ajouter depuis votre interface !</div></td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>