<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >

  <head>
    <title>Ma première page Thymeleaf !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

    <ul>
    	<p>Recherche par attributs de requête</p>
		<li th:each="heros : ${listeHerosFilms}">
	 		<a 
	 			href="vue-heros.html" 
	 			th:href="@{/personnagedisney(id=${heros.id})}" 
	 			th:text="${heros.id} + ' : ' + ${heros.nom}  + ' / ' + ${heros.film}">

	 		Lien vers la page Heros

		 	</a>
		 </li>
		<p> -------------------------------------- </p>
		
		<p>Recherche par URL</p>
		<li th:each="heros : ${listeHerosDisney}">
		
	 		<a 
	 			href="details.html" 
	 			th:href="@{/personnagedisney/{id}(id=${heros.id})}" 
	 			th:text="${heros.id} + ' : ' + ${heros.nom}  + ' / ' + ${heros.film}">

	 		Lien vers la page Heros

		 	</a>
 	
		</li>
    </ul>
      
        
  </body>
</html>
