<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle réservation</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row my-5">
			<div class="col">
	    		<a class="btn btn-secondary" href="/spring-jpa/restaurant">Retour à la liste des restaurants</a>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
	    		<h1 th:text="'Nouvelle reservation chez ' + *{restaurant.nom}"></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
								
			    <form action="#" th:action="@{/reservation/save/{id}(id=${restaurant.id})}" th:object="${reservation}" method="post">
					<div class="form-group">
			            <label for="nom">Nom :</label>
			            <input type="text" class="form-control" id="nom" th:field="*{nom}"
			                   th:classappend="${#fields.hasErrors('nom')} ? 'is-invalid' : ''">
			            <div th:if="${#fields.hasErrors('nom')}" class="invalid-feedback">
			                <p th:each="err : ${#fields.errors('nom')}" th:text="${err}"></p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="prenom">Prénom :</label>
			            <input type="text" class="form-control" id="prenom" th:field="*{prenom}"
			                   th:classappend="${#fields.hasErrors('prenom')} ? 'is-invalid' : ''">
			            <div th:if="${#fields.hasErrors('prenom')}" class="invalid-feedback">
			                <p th:each="err : ${#fields.errors('prenom')}" th:text="${err}"></p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="telephone">Téléphone :</label>
			            <input type="text" class="form-control" id="telephone" th:field="*{telephone}"
			                   th:classappend="${#fields.hasErrors('telephone')} ? 'is-invalid' : ''">
			            <div th:if="${#fields.hasErrors('telephone')}" class="invalid-feedback">
			                <p th:each="err : ${#fields.errors('telephone')}" th:text="${err}"></p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="date">Date et heure de début :</label>
			            <input type="datetime-local" class="form-control" id="date" th:field="*{dateHeureDebut}">
			        </div>			        
			        <button type="submit" class="btn btn-primary">Enregistrer</button>
			    </form>
			</div>
		</div>
	</div>
</body>
</html>
