<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>La page d'acceuil !</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>voici la page d'acceuil !</h1>
	<p th:text=${monMessage}></p>
	<p>Le nom du camion :</p>
	<p th:text=${camion1.nom}></p>
	<p>Son identifiant :</p>
	<p th:text=${camion1.id}></p>
	<p>Sa description :</p>
	<p th:if=${toto} th:text=${camion1.description}></p>

	<div>
		<p>Mon iterable</p>
		<ol>
			<li th:each="toto : ${iterable}" th:text="${toto}"></li>
		</ol>

	</div>

	<div>
		<h2>Mes Camions</h2>
		<ol>

			<li th:if=${toto} th:text="${listCamion.get(0).nom}"></li>
			<li th:if=${toto} th:text="${listCamion.get(1).nom}"></li>
			<li th:if=${toto} th:text="${listCamion.get(2).nom}"></li>
			<li th:if=${toto} th:text="${listCamion.get(3).nom}"></li>
			<li th:if=${toto} th:text="${listCamion.get(4).nom}"></li>

		</ol>

	</div>

	<div>
		<h2>Mes urls dynamiques pour se rendre aux différentes pages</h2>

		<ul>
			<li><a href="ma-page1.html"
				th:href="@{/page1}">Voici le lien de
					l'URL avec un paramètre de requête </a></li>
			<li><a href="ma-page2.html" th:href="@{/page2}">Voici le
					lien de l'URL avec un paramètre dans l'URL</a></li>

			<li><a href="ma-page-fournisseurs.html" th:href="@{/pagefournisseurs}">Voici le
					lien de l'URL de la page des fournisseurs</a></li>

		</ul>



	</div>
</body>
</html>