<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<style>
	.list-container {
	    display: flex;	    
	}
	
	.fournisseurs-list,
	.formulaires-list {
	    width: 30%;
  		
	}
</style>

<title>TP : Restaurants</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div class="list-container">
		<div class="restaurant-list">
			<h2>Liste des Restaurants</h2>
			<ul>
				<li th:each="restaurant : ${listeRestaurant}"
					th:text="${restaurant.nom}"></li>
			</ul>
		</div>
		<div class="formulaires-list">
			<h2>Liens d'acces reservations :</h2>
			<ul>
				<li th:each="restaurant : ${listeFournisseur}"><a
					href="formulaire-restaurant.html"
					th:href="@{/formulaire-restaurant(id=${restaurant.id})}"
					th:text="${'Restaurant N° ' + restaurant.id }" 
					target="_blank">Lien vers le formulaire des resevations</a></li>
			</ul>
		</div>
	</div>

</body>
</html>