<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Show Fournisseur</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 	crossorigin="anonymous">
</head>
<body>
	<div class='container'>
		<div class='row my-5'>
			<div class='col'>
				<a class='btn btn-secondary' th:href="@{/fournisseurs}">Retour à la liste des fournisseurs</a>
			</div>
		</div>
		<div class='row mb-4'>
			<div class='col'>
				<h1 class='text-center' th:text="${fournisseur.nom}"></h1>
			</div>
		</div>
		<div class='row'>
			<div class='col'>
				<ul class='list-group'>
					<li class='list-group-item' th:text="'Numero de fournisseur : ' + ${fournisseur.numero_fournisseur}"></li>
					<li class='list-group-item' th:text="'Nom : ' + ${fournisseur.nom}"></li>
					<li class='list-group-item' th:text="'Email : ' + ${fournisseur.email}"></li>
					<li class='list-group-item' th:text="'Adresse : ' + ${fournisseur.adresse}"></li>
				</ul>
				<div class='mt-4'>
					<a class='btn btn-primary' th:href="@{/fournisseur/{id}/edit(id=${fournisseur.id})}">Modifier</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>