<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >

  <head>
    <title>Ma première page Thymeleaf !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

    <h1>Salut les gens</h1>
    <h3 th:text="${caRoule}">Ça marche pas mal ici !</h3>
    <h3 th:if="${doitAfficherDiv}">Je m'affiche</h3>
    <p th:if="${!doitAfficherDiv && true}">Je suis là</p>

    <ul>
    	<h3>Recherche par attributs de requête</h3>
		<li th:each="heros : ${listeHerosDisney}">
	 		<a 
	 			href="vue-heros.html" 
	 			th:href="@{/personnagedisney(id=${heros.id})}" 
	 			th:text="${heros.id} + ' : ' + ${heros.nom}  + ' / ' + ${heros.film}">

	 		Lien vers la page Heros

		 	</a>
		 </li>
		
		<h3>Recherche par URL</h3>
		<li th:each="heros : ${listeHerosDisney}">
		
	 		<a 
	 			href="details.html" 
	 			th:href="@{/personnagedisney/{id}(id=${heros.id})}" 
	 			th:text="${heros.id} + ' : ' + ${heros.nom}  + ' / ' + ${heros.film}">

	 		Lien vers la page Heros

		 	</a>
 	
		</li>
    </ul>
      
        
  </body>
</html>
