<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Ma première page Thymeleaf !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <h1>Salut les gens</h1>
     <p th:text="${monTexte}" > voici mon texte de base</p>
     <p th:text="'RE SALUT'" > voici mon texte de base</p>
     <div th:if="${listFournisseur.size()>5}"> Il y a trop de fournisseurs à afficher</div>
     <div th:if="${listFournisseur.size()<5}"> 
     	<ul>
     		<li th:each="fournisseur : ${listFournisseur}" th:text="${fournisseur.nom}"> ma liste de fournisseur</li>
     	</ul>
     </div>
     
     <div>
     	<ul>
     		<li th:each="fournisseur : ${listFournisseur}">
     			<a href="coucou.html"
     				th:href="@{/fournisseur(id=${fournisseur.id})}"
     				th:text="${'AVEC REQUEST PARAM : Lien vers le fournisseur suivant : ' + fournisseur.nom}"> Liens vers les fournisseurs</a>
     		
     		<br>
     		
     			<a href="coucou.html"
     				th:href="@{/fournisseur/{id}(id=${fournisseur.id})}"
     				th:text="${'AVEC PATH VARIABLE : Lien vers le fournisseur suivant : ' + fournisseur.nom}"> Liens vers les fournisseurs</a>
     		
     		</li>
     	</ul>
     </div>
     
  </body>
</html>