<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title> Liste des fournisseurs </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  
  <body>  
  	<!-- Titre de la page -->
    <h1>Liste des fournisseurs</h1>
    
    <!-- Message de la connexion à BDD -->
    <p th:text="${connexion}">connexion BDD !</p>
    
    <!-- Liste des fournisseurs -->
    <div>
    	<ul>
     	 <!-- Boucle pour afficher chaque fournisseur avec un lien vers la page de formulaire correspondante -->
	 	 <li th:each = "fournisseur: ${fournisseurs}">
	 	 <a th:href="@{/formulaire-fournisseur/{id}(id=${fournisseur.id})}" th:text="${fournisseur.nom}"></a></li>
		</ul>
	</div>
  
   </body>
</html>