<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>La page des héros !</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>


 <h3>Détail du heros</h3>

 <form action="heros" th:object="${heros}" th:action="@{/personnagedisney}" method="post">
 	<p>Id :</p>
  		<p><input type="text" name="id" th:value="${heros.id}" /></p>
  	
    <p>Nom :</p>
  		<p><input type="text" name="nom" th:value="${heros.nom}" /></p>

 	<p>Film :</p>
	  	<p><input type="text" name="film" th:value="${heros.film}" /></p>

  <input type="submit" value="Sauvegarder" />
	
 </form>

</body>
</html>