<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ma première page Thymeleaf !</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<h1>Coucou, je fais coucou dans ma nouvelle coucoucou.html
			view... so nice !</h1>
	</div>
	<div>
		<h3>&nbsp; Et ouee on appelle vue à chaque fichier .html, et on
			configure un controleur pour afficher la page web</h3>
		<p th:text=${dinamyc}>&nbsp; Voila !</p>
		<h3 th:text=${camion.model}>&nbsp; Voila !</h3>
		<h3 th:text=${camion.moto}>&nbsp; Voila !</h3>
	</div>
	<h2>ITERATIONNNN</h2>
	<div th:if="${boolean}">
		<ul>
			<li th:each="invite : ${listeInvites}" th:text="${invite}"></li>
		</ul>
		<ul>
			<li th:each="camion : ${listeCamions}" th:text="${camion.model}">
			</li>
		</ul>
	</div>
	<div>
		<ul>
			<li th:each="camion : ${listeCamions}" th:text="${camion.model}">
			</li>
		</ul>
	</div>
	<div>
		<h2>Liens avec parametres de requetes</h2>
		<h4>Attributs de requete</h4>
		<ul>
			<li th:each="camion : ${listeCamions}">
			
				<a href="vue-coucou.html"
				th:href="@{/camion/{id}(id=${camion.id})}"
				th:text="${'Lien vers le camion' + camion.model }">Lien vers mon camion (Récupération d’attributs de requête)</a>
						
			</li>
		</ul>
		<h4>Infos dans l'URL</h4>
		<ul>
			<li th:each="camion : ${listeCamions}">	
					
				<a href="vue-coucou.html"
				th:href="@{/camion(id=${camion.id})}"
				th:text="${'Lien vers le camion' + camion.model }">Lien vers mon camion (Récupération d’infos dans l’URL)</a>				
							
			</li>
		</ul>
	</div>
</body>
</html>