<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Vue TP MVC</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Vue affichée par mon premier controller crée en TP, sur l'url
		coucou</h1>
	<p th:text="${monMessage}">Test test</p>
	<p th:text="${monCamion}">Test test 2</p>
	<p th:text="${monCamion.nom}">youyou Test test 2</p>
	<div th:if="${boolean}">
		<ul>
			<li th:each="element : ${liste}" th:text="${element}">élément standard</li>
		</ul>
	</div>
	<div>
		<p>Bonus</p>
		<ul>
			<li th:each="camion : ${listeCamions}" th:text="${camion.nom}">camion standard</li>
		</ul>
	</div>
	
	<div>
		<h2>Exercice liens avec paramètres</h2>
		<!-- Produit '/mon-contexte/liens?orderId=3' -->
		<a href="ma-page.html" th:href="@{/ma-page(id=${monCamion.nom})}" th:text="${'Url vers /ma-page ' + id}">Lien dynamique 1</a>
		<!-- Produit '/mon-contexte/3/lien' -->
		<a href="ma-page.html" th:href="@{/ma-page/{id}(id=${monCamion.nom})}" th:text="${'Url2 vers /ma-page ' + id}">Lien dynamique 2</a>
		<br/>
		<a href="ma-page-integer.html" th:href="@{/ma-page-integer(id=${lienId})}" th:text="${'Url vers /ma-page ' + id}">Lien dyn id integer 1</a>
		<!-- Produit '/mon-contexte/3/lien' -->
		<a href="ma-page-integer.html" th:href="@{/ma-page-integer/{id}(id=${lienId})}" th:text="${'Url2 vers /ma-page ' + id}">Lien dyn id integer 2</a>
	
	</div>
	
</body>
</html>